<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RedeSocial</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RedeSocial.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header class="header">
        <a class="header-title" href="/Feed">SocialLike</a>
        @if (ViewBag.Usuario != null)
        {
            var user = (RedeSocial.Models.UsuarioModel)ViewBag.Usuario;
            
            <a class="header-avatar avatar" href="/Perfil/@user.Id">
                <p class="header-avatar-name" >@user.Nome</p>
                @if (!string.IsNullOrEmpty(@user.FotoPerfil))
                {
                    <img class="header-avatar-img" src="data:image/jpeg;base64,@user.FotoPerfil" alt="" />
                }
                else
                {
                    <img src="~/img/avatar.png" alt="" />
                }
            </a>
        }
    </header>
    <div style="display: flex">
        <div class="sidebar">
            <div style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          ">
                <a href="/perfil" class="avatar">
                    <div class="avatar-border">
                        <img src="~/img/avatar.png" alt="" />
                    </div>
                    <span>Nome</span>
                </a>
                <button type="button" id="addButton" class="post-button">
                    <img src="~/img/add.png" alt="" />
                </button>

                <input type="file" id="fileInput" style="display:none" />
            </div>


            @if (ViewBag.Stories != null)
            {

                @foreach (var item in ViewBag.Stories)
                {
                    var story = (RedeSocial.Models.StoryModel)item;

                    <a href="/perfil" class="avatar">
                        <div class="avatar-border">
                            <img src="data:image/jpeg;base64,@story.FotoUsuario" alt="" />
                        </div>
                        <span>@story.NomeUsuario</span>
                    </a>
                }
            }


        </div>

        @RenderBody()
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
