<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RedeSocial</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RedeSocial.styles.css" asp-append-version="true" />

</head>
<body>
    <header class="header">
        <a class="header-title" href="/Feed">SocialLike</a>
        @if (ViewBag.Usuario != null)
        {
            var user = (RedeSocial.Models.UsuarioModel)ViewBag.Usuario;

            <a class="header-avatar avatar" href="/Perfil/@user.Id">
                <p class="header-avatar-name">@user.Nome</p>
                @if (!string.IsNullOrEmpty(@user.FotoPerfil))
                {
                    <img class="header-avatar-img" src="data:image/jpeg;base64,@user.FotoPerfil" alt="" />
                }
                else
                {
                    <img src="~/img/avatar.png" alt="" />
                }
            </a>
        }
    </header>
    <div style="display:flex;">
        <div class="sidebar">
            <div style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          ">
                @if (ViewBag.Usuario != null)
                {
                    var usuario = (RedeSocial.Models.UsuarioModel)ViewBag.Usuario;
                    <a class="avatar" onclick="mostrarStory()" href="#">
                        <div class="avatar-border">
                            <img src="data:image/jpeg;base64,@usuario.FotoPerfil" alt="" />
                        </div>
                        <span>@usuario.Nome</span>
                    </a>
                }
                <button type="button" id="addButton" class="post-button">
                    Adicionar story
                </button>

                <input type="file" id="fileInput" style="display:none" />
            </div>


            @if (ViewBag.Usuario.Amigos != null)
            {
                @foreach (var item in ViewBag.Usuario.Amigos)
                {
                    var amigosStory = (RedeSocial.Models.UsuarioModel)item;

                    <a class="avatar" id="mostrarElemento" href="#" onclick="mostrarStory()">
                        <div class="avatar-border">
                            <img src="data:image/jpeg;base64,@amigosStory.FotoPerfil" alt="" />
                        </div>
                        <span>@amigosStory.Nome</span>
                    </a>
                }
            }

        </div>

        <div class="story-wrapper" id="story-show" style="display: none;">
            <div>
                <a href="">
                    <img class="story-before" src="~/img/arrow.png" alt="" />
                </a>
            </div>

            <div class="story">
                <div class="story-header">
                    <a href="/perfil" class="avatar">
                        <img src="~/img/avatar.png" alt="" />
                        <p>Nome</p>
                    </a>
                    <button class="story-header-close" style="cursor: pointer;" onclick="fecharStory()">X</button>
                </div>
                <img class="story-img" src="~/img/gato.jpg" alt="" />
                <div class="story-comment-like">
                    <input class="story-comment" type="text" name="conteudo" />
                    <button type="button" class="post-button" onclick="toggleCurtirPost(1)">
                        <img class="story-like" src="~/img/foguete.png" alt="" />
                    </button>
                </div>
            </div>

            <div>
                <a href="">
                    <img class="story-after" src="~/img/arrow.png" alt="" />
                </a>
            </div>
        </div>

   


        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        //Story:

        document.getElementById('addButton').addEventListener('click', function () {
            document.getElementById('fileInput').click();
        });

        document.getElementById('fileInput').addEventListener('change', function (event) {
            const files = event.target.files;
            if (files.length > 0) {
                console.log('Selected file:', files[0].name);
                $.ajax({
                    type: "POST",
                    url: "/Feed/AddStory",
                    data: { id: postId },
                    success: function (response) {
                        console.log("adiciona story")
                        adicionaStory = false;
                    }
                });
            }
        });


        function mostrarStory() {
            $("#story-show").css("display", "flex");
        }

        function fecharStory() {
            $("#story-show").css("display", "none");
        }



    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
