@{
    ViewData["Title"] = "Perfil";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <style>

        .main {
            background: #5d0096;
        }

        .user-feed {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            gap: 1rem;
            margin: 2rem auto;
        }

            .user-feed img {
                height: auto;
                border: 0.25rem solid white;
            }

        .profileavatar {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

            .profileavatar img {
                border-radius: 50%;
                height: 8rem;
                width: 8rem;
            }

        .profileavatar-border {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--bg-main);
            border-radius: 50%;
            padding: 2px;
        }

        .profileName {
            font-size: 25px;
            font-weight: bold;
            margin-left: 20px;
            font-family: cursive;
        }

        .profileDescription {
            display: flex;
            flex-direction: column;
        }

        .profileBio {
            font-size: 20px;
            font-weight: bold;
            margin-left: 20px;
            font-family: cursive;
            margin-top: 1rem;
        }

        .profileDate {
            font-size: 15px;
            font-weight: bold;
            margin-left: 20px;
            font-family: cursive;
            margin-top: 1rem;
        }

        .profileContainer {
            background-color:#f3f2fd;
            padding: 1.5rem;
            display: flex;
            justify-content: space-between;
        }

        .buttonProfile {
            border: 0;
            border-radius: 0.5rem;
            text-align: center;
            padding: 0.5rem;
            width: 115px;
            background: #000;
            font-weight: 600;
            color: white;
            height: 65px;
        }

        .posts-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            width: 100%;
        }

        .posts-local {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            margin: 2rem auto;
            width: 70rem;
            gap: 50px;
         
        }

        .post-local {
            padding: 5px;
            border: 5px solid #ccc;
            height: 260px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #9b9a9a;
        }

        .post-image {
            max-width: 100%;
            height: 255px;
        }

        .description-with-image {
            font-weight: bold;
            font-family: cursive;
            background: #e5e4e4;
            padding: 10px;
        }

        .description-single {
            font-weight: bold;
            font-family: cursive;
        }
    </style>
</head>
<body>
    <div class="main">
        <form action="/Perfil/Editar">
            @if (ViewBag.Usuario != null)
            {
                var user = (RedeSocial.Models.UsuarioModel)ViewBag.Usuario;
                var currentId = ViewBag.CurrentId;

                <div class="profileContainer">
                    <div>
                        <a href="/perfil" class="profileavatar">
                            <img src="data:image/jpeg;base64,@user.FotoPerfil" alt="ProfilePic" />
                            <div class="profileDescription">
                                <p class="profileName">@user.Nome</p>
                                <p class="profileDate">@user.DataComemorativa.ToString("dd/MM/yyyy")</p>
                            </div>
                        </a>
                        <p class="profileBio">
                            @user.Bio
                        </p>
                    </div>
                    @if (user.Id.ToString() == currentId)
                    {
                          <div style="display: flex; gap: 10px; height: 60px;">
                              <a href="/EditarPerfil">
                            <button type="button" class="buttonProfile">
                                Editar perfil
                            </button>
                            </a>
                            <a href="/CriarPublicacao">
                                <button type="button" class="buttonProfile">
                                    Criar Publicação
                                </button>
                            </a>
                           
                            
                        </div>
                    }
                  
                </div>
            }
        </form>

        <div class="posts-container">
            <div class="posts-local">
            @if (ViewBag.Publicacoes != null)
            {
                var publicacoes = (List<RedeSocial.Models.PublicacaoModel>)ViewBag.Publicacoes;

                for (int i = 0; i < publicacoes.Count; i++)
                {
                    var publicacao = publicacoes[i];
                        <a href="/Post/@publicacao.Id">
                        <div class="post-local">

                      
                            @if (publicacao.Midias.Count > 0)
                            {
                                <img class="post-image" src="data:@publicacao.Midias[0].ContentType;base64,@publicacao.Midias[0].FileContents" alt="" />
                            }
                            else
                            {
                                <p class="description-single">@publicacao.Descricao</p>
                            }
                     
                    </div>
                        </a>
                }
            }
            </div>
        </div>
    </div>
</body>
</html>