@{
    ViewData["Title"] = "Post";
}




<head>
    <style>
        .main {
            display: flex;
            gap: 1rem;
        }

        .comments-box {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 40vw;
        }

        .comment-box-box {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 5px;
        }

        .comment {
            background-color: white;
            width: auto;
            padding: 1rem;
            border-radius: 0.5rem;
        }

            .comment > p {
                margin: 0.5rem 0;
            }



        .comment-input {
            background: #1c1c39;
            color: white;
            padding: 0.5rem;
            border-radius: 1rem;
            margin-top: auto;
            width: 100%;
        }

            .comment-input > input {
                all: unset;
                width: 100%;
            }

    </style>
</head>

<div class="main">

    <!-- POST -->
    @if (ViewBag.Publicacao != null)
    {
        var publicacao = (RedeSocial.Models.PublicacaoModel)ViewBag.Publicacao;
        <div class="post">
            <a href="/perfil" class="avatar">
                <img src="data:image/jpeg;base64,@publicacao.Usuario.FotoPerfil" alt="" />
                <p>@publicacao.Usuario.Nome</p>
            </a>
            @foreach (var midia in publicacao.Midias)
            {
                <img src="data:image/jpeg;base64,@midia" alt="" />
            }
            <p class="post-description">@publicacao.Descricao</p>
            <div style="
                display: flex;
                justify-content: space-between;
                align-items: center;
                        ">
                <button type="button" class="post-button" onclick="toggleCurtirPost(1)">
                    <img src="~/img/foguete.png" alt="" />
                </button>
                <span style="
                font-size: small;
                border-radius: 1rem;
                background: #1c1c39;
                color: #fff;
                height: fit-content;
                padding: 0.3rem;
                            " id="info-post">
                    @publicacao.QuantidadeLikes curtidas e @publicacao.QuantidadeComentarios comentário
                </span>
            </div>
        </div>
    }

    <!-- COMENTÁRIOS -->
    <div class="comments-box">
        @foreach (var item in ViewBag.Comentarios)
        {
            var comentario = (RedeSocial.Models.ComentarioModel)item;

            <div class="comment">
                <div class="avatar">
                    <img src="data:image/jpeg;base64,@comentario.Usuario.FotoPerfil" alt="" /><span>@comentario.Usuario.Nome</span>
                </div>
                <p>@comentario.Conteudo</p>
                <div style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                                ">
                    <div style="display: flex; gap: 3px">
                        <button type="button" class="post-button" onclick="toggleCurtirComentario('@comentario.Id')">
                            <img src="~/img/foguete.png" alt="" />
                        </button>
                        <button type="button" class="post-button">
                            <img src="~/img/comentário.png" alt="" />
                        </button>
                    </div>
                    <span id="info-comment-1" style="
                        font-size: small;
                        border-radius: 1rem;
                        background: #1c1c39;
                        color: #fff;
                        height: fit-content;
                        padding: 0.3rem;
                                ">
                        @comentario.QuantidadeLikes curtidas e @comentario.QuantidadeComentarios comentários
                    </span>
                </div>
                @if (comentario.QuantidadeComentarios > 0) {
                    <button type="button" style="display:block;text-align:center;padding:0.5rem;" onclick="CarregarRespostas("@comentario.Id")">Carregar respostas</button>
                }
            </div>
            <div id="@($"{comentario.Id}-respostas")" style="margin: 0.25rem 0; padding: 2rem 0 0 0"></div>
        }
        <form id="comment-form" action="/Post/InserirPostComentario/@ViewBag.Publicacao.Id" method="post" class="comment-input">
            <input id="comment-input" type="text" name="conteudo" />
            <button type="submit" style="display: none;" />
        </form>
    </div>
</div>



<script>
    document.getElementById("comment-input").addEventListener("keypress", e => {
        d
        if (e.key === 'Enter') {
            e.preventDefault();
            document.getElementById("comment-form").submit();
        }
    })


    $.ajax({
        type: "GET",
        url: "/Post/InserirLikePost",
        data: { id: postId },
        success: function (response) {
            if (response.sucesso) {
                $("#info-post").text(response.likePost + " curtidas e 1 comentário");
            }
            postCurtido = true;
        }
    });


    var postCurtido = false;

    function toggleCurtirPost(postId) {
        if (!postCurtido) {
            InserirLikePost(postId);
        } else {
            RemoverLikePost(postId);
        }
    }



    function InserirLikePost(postId) {
        $.ajax({
            type: "PUT",
            url: "/Post/InserirLikePost",
            data: { id: postId },
            success: function (response) {
                if (response.sucesso) {
                    $("#info-post").text(response.likePost + " curtidas e 1 comentário");
                }
                postCurtido = true;
            }
        });
    }

    function RemoverLikePost(postId) {
        $.ajax({
            type: "PUT",
            url: "/Post/RemoverLikePost",
            data: { id: postId },
            success: function (response) {
                if (response.sucesso) {
                    $("#info-post").text(response.likePost + " curtidas e 1 comentário");
                }
                postCurtido = false;
            }
        });
    }

    var comentarioCurtido = false;

    function toggleCurtirComentario(comentarioId) {
        if (!comentarioCurtido) {
            InserirLikeComentario(comentarioId);
        } else {
            RemoverLikeComentario(comentarioId);
        }
    }

    function InserirLikeComentario(comentarioId) {
        $.ajax({
            type: "PUT",
            url: "/Post/InserirLikeComentario",
            data: { comentarioId: comentarioId },
            success: function (response) {
                if (response.sucesso) {
                    $("#info-comment-" + comentarioId).text(response.likeComment + " curtidas e 0 comentário");
                    comentarioCurtido = true;
                }
            }
        });
    }

    function RemoverLikeComentario(comentarioId) {
        $.ajax({
            type: "PUT",
            url: "/Post/RemoverLikeComentario",
            data: { comentarioId: comentarioId },
            success: function (response) {
                if (response.sucesso) {
                    $("#info-comment-" + comentarioId).text(response.likeComment + " curtidas e 0 comentário");
                    comentarioCurtido = false;
                }
            }
        });
    }

    function CarregarRespostas(comentarioId) {
        $.ajax({
            type: "GET",
            url: "/Post/ListarComentarioRespostas",
            data: { id: comentarioId },
            success: function (response) {
                var respostasDiv = $("#" + comentarioId + "-respostas");
                respostasDiv.empty();

                response.forEach(function (comentario) {
                    var commentHtml = `
                                    <div class="comment">
                                        <div class="avatar">
                                            <img src="data:image/jpeg;base64,${comentario.Usuario.FotoPerfil}" alt="" /><span>${comentario.Usuario.Nome}</span>
                                        </div>
                                        <p>${comentario.Conteudo}</p>
                                        <div style="display: flex; justify-content: space-between; align-items: center;">
                                            <div style="display: flex; gap: 3px">
                                                <button type="button" class="post-button" onclick="toggleCurtirComentario(${comentario.Id})">
                                                    <img src="~/img/foguete.png" alt="" />
                                                </button>
                                                <button type="button" class="post-button">
                                                    <img src="~/img/comentário.png" alt="" />
                                                </button>
                                            </div>
                                            <span id="info-comment-${comentario.Id}" style="font-size: small; border-radius: 1rem; background: #1c1c39; color: #fff; height: fit-content; padding: 0.3rem;">
                                                ${comentario.QuantidadeLikes} curtidas e ${comentario.QuantidadeComentarios} comentários
                                            </span>
                                        </div>
                                         ${comentario.QuantidadeComentarios === 0 ? '' : `<button type="button" style="display:block;text-align:center;padding:0.5rem;" onclick="carregarRespostas(${comentario.Id})">Carregar respostas</button>`}
                                    </div>
                                    <div id="${comentario.Id}-respostas" style="margin: 2rem 0; padding: 2rem 0 0 0"></div>
                                `;
                    respostasDiv.append(commentHtml);
                });
            }
        });
    }
</script>