@{
    ViewData["Title"] = "Post";
}




<head>
    <style>
        .main {
            display: flex;
            gap: 1rem;
        }

        .comment-box-box {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 5px;
        }

        .comment {
            background-color: white;
            width: auto;
            padding: 1rem;
            border-radius: 0.5rem;
        }

            .comment > p {
                margin: 0.5rem 0;
            }



        .comment-input {
            background: #1c1c39;
            color: white;
            padding: 0.5rem;
            border-radius: 1rem;
            margin-top: auto;
            width: 100%;
        }

            .comment-input > input {
                all: unset;
                width: 100%;
            }

    </style>
</head>

<div class="main">

    <!-- POST -->
    @if (ViewBag.Publicacao != null)
    {
        var publicacao = (RedeSocial.Models.PublicacaoModel)ViewBag.Publicacao;
        <div class="post">
            <a href="/perfil" class="avatar">
                <img src="data:image/jpeg;base64,@publicacao.FotoUsuario" alt="Foto @publicacao.NomeUsuario" />
                <p>@publicacao.NomeUsuario</p>
            </a>
            @foreach (var midia in publicacao.Midias)
            {
                <img src="data:@midia.ContentType;base64,@midia.FileContents" alt="" />
            }
            <p class="post-description">@publicacao.Descricao</p>


            <div style="display: flex;justify-content: space-between;align-items: center;">
                <div style="display: flex; gap: 3px">
                    <button type="button" id="post-button-curtir-@publicacao.Id"
                            title="@(publicacao.UsuarioLogadoCurtiuPost ? "descurtir" : "curtir")"
                            class="post-button @(publicacao.UsuarioLogadoCurtiuPost ? "post-button-active" : "")"
                            onclick="toggleCurtirPost('@publicacao.Id', @publicacao.QuantidadeComentarios)">
                        <img src="~/img/foguete.png" alt="" />
                    </button>
                </div>
                <span id="post-curtidas-comentarios-@publicacao.Id" class="post-info" title="Abrir comentários">
                    @publicacao.GetTextoCurtidaComentarios()
                </span>
            </div>
        </div>
    }

    <!-- COMENTÁRIOS -->
    <div style="display: flex;
         flex-direction: column;
         gap: 1rem;
         justify-content:space-between;
         width: 40vw;">
        <div style="display: flex;
         flex-direction: column;
         gap: 1rem;
         width: 100%;
         max-height: 80vh;
         overflow:auto">
            @foreach (var item in ViewBag.Comentarios)
            {
                var comentario = (RedeSocial.Models.ComentarioModel)item;

                <div class="comment">
                    <div class="avatar">
                        <img src="data:image/jpeg;base64,@comentario.Usuario.FotoDePerfilTratada" alt="" /><span>@comentario.Usuario.Nome</span>
                    </div>
                    <p>@comentario.Conteudo</p>
                    <div style="
                        display: flex;
                        justify-content: space-between;
                        align-items: center;">
                        <div style="display: flex; gap: 3px">
                            <button type="button" id="comentario-button-curtir-@comentario.Id"
                                    title="@(comentario.UsuarioLogadoCurtiuComentario ? "descurtir" : "curtir")"
                                    class="post-button @(comentario.UsuarioLogadoCurtiuComentario ? "post-button-active" : "")"
                                    onclick="toggleCurtirComentario('@comentario.Id', @comentario.QuantidadeComentarios)">
                                <img src="~/img/foguete.png" alt="" />
                            </button>
                        </div>
                        <span id="comentario-curtidas-comentarios-@comentario.Id" class="post-info" title="Abrir comentários">
                            @comentario.GetTextoCurtidaComentarios()
                        </span>
                    </div>
                    @if (comentario.QuantidadeComentarios > 0)
                    {
                        <button type="button" style="display:block;text-align:center;padding:0.5rem;" onclick="CarregarRespostas('@comentario.Id')">Carregar respostas</button>
                    }
                </div>
            }
        </div>
        <form id="comment-form" action="/Post/InserirPostComentario/@ViewBag.Publicacao.Id" method="post" class="comment-input">
            <input id="comment-input" type="text" name="conteudo" />
            <button type="submit" style="display: none;" />
        </form>
    </div>
</div>



<script>
    document.getElementById("comment-input").addEventListener("keypress", e => {
        d
        if (e.key === 'Enter') {
            e.preventDefault();
            document.getElementById("comment-form").submit();
        }
    })

    //POST:

    function toggleCurtirPost(postId, quantidadeComentarios) {
        var button = $("#post-button-curtir-" + postId);
        if (button.hasClass("post-button-active")) {
            descurtirPost(postId, quantidadeComentarios);
        } else {
            curtirPost(postId, quantidadeComentarios);
        }
    }

    function getTextoCurtidaComentarios(quantidadeLikes, quantidadeComentarios) {
        var flexCurtidas = quantidadeLikes < 2 ? 'curtida' : 'curtidas';
        var flexComentarios = quantidadeComentarios < 2 ? 'comentário' : 'comentários';
        return quantidadeLikes + ' ' + flexCurtidas + ' e ' + quantidadeComentarios + ' ' + flexComentarios;
    }

    function removeCurtidas(id, type, quantidadeComentarios, quantidadeLikes) {
        var idText = `#${type}-curtidas-comentarios-${id}`
        var idButton = `#${type}-button-curtir-${id}`
        console.log(idText)
        console.log(idButton)
        $(idText).text(getTextoCurtidaComentarios(quantidadeLikes, quantidadeComentarios));
        $(idButton).removeClass("post-button-active");
    }

    function atualizaCurtidas(id, type, quantidadeComentarios, quantidadeLikes) {
        var idText = `#${type}-curtidas-comentarios-${id}`
        var idButton = `#${type}-button-curtir-${id}`
        console.log(idText)
        console.log(idButton)
        $(idText).text(getTextoCurtidaComentarios(quantidadeLikes, quantidadeComentarios));
        $(idButton).addClass("post-button-active");
    }


    function curtirPost(postId, quantidadeComentarios) {
        $.ajax({
            type: "POST",
            url: "/Post/CurtirPost",
            data: { postId: postId },
            success: function (response) {
                atualizaCurtidas(postId, "post", quantidadeComentarios, response.quantidadeLikes)
            }
        });
    }

    function descurtirPost(postId, quantidadeComentarios) {
        $.ajax({
            type: "DELETE",
            url: "/Post/DescurtirPost",
            data: { postId: postId },
            success: function (response) {
                removeCurtidas(postId, "post", quantidadeComentarios, response.quantidadeLikes)
            }
        });
    }

    //COMENTÁRIO:

    function toggleCurtirComentario(comentarioId, quantidadeComentarios) {
        var button = $("#comentario-button-curtir-" + comentarioId);
        if (button.hasClass("post-button-active")) {
            descurtirComentario(comentarioId, quantidadeComentarios);
        } else {
            curtirComentario(comentarioId, quantidadeComentarios);
        }
    }
    function removeCurtidas(id, type, quantidadeComentarios, quantidadeLikes) {
        var idText = `#${type}-curtidas-comentarios-${id}`
        var idButton = `#${type}-button-curtir-${id}`

        $(idText).text(getTextoCurtidaComentarios(quantidadeLikes, quantidadeComentarios));
        $(idButton).removeClass("post-button-active");
    }

    function atualizaCurtidas(id, type, quantidadeComentarios, quantidadeLikes) {
        var idText = `#${type}-curtidas-comentarios-${id}`
        var idButton = `#${type}-button-curtir-${id}`

        $(idText).text(getTextoCurtidaComentarios(quantidadeLikes, quantidadeComentarios));
        $(idButton).addClass("post-button-active");
    }


    function curtirComentario(comentarioId, quantidadeComentarios) {
        $.ajax({
            type: "POST",
            url: "/Post/CurtirComentario",
            data: { comentarioId: comentarioId },
            success: function (response) {
                atualizaCurtidas(comentarioId, "comentario", quantidadeComentarios, response.quantidadeLikes)
            }
        });
    }

    function descurtirComentario(comentarioId, quantidadeComentarios) {
        $.ajax({
            type: "DELETE",
            url: "/Post/DescurtirComentario",
            data: { comentarioId: comentarioId },
            success: function (response) {
                removeCurtidas(comentarioId, "comentario", quantidadeComentarios, response.quantidadeLikes)
            }
        });
    }

    function CarregarRespostas(comentarioId) {
        $.ajax({
            type: "GET",
            url: "/Post/ListarComentarioRespostas",
            data: { id: comentarioId },
            success: function (response) {
                var respostasDiv = $("#" + comentarioId + "-respostas");
                respostasDiv.empty();

                response.forEach(function (comentario) {
                    var commentHtml = `
                                                                            <div class="comment">
                                                                                <div class="avatar">
                                                                                    <img src="data:image/jpeg;base64,${comentario.Usuario.FotoDePerfilTratada}" alt="" /><span>${comentario.Usuario.Nome}</span>
                                                                                </div>
                                                                                <p>${comentario.Conteudo}</p>
                                                                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                                                                    <div style="display: flex; gap: 3px">
                                                                                        <button type="button" class="post-button" onclick="toggleCurtirComentario(${comentario.Id})">
                                                                                            <img src="~/img/foguete.png" alt="" />
                                                                                        </button>
                                                                                        <button type="button" class="post-button">
                                                                                            <img src="~/img/comentário.png" alt="" />
                                                                                        </button>
                                                                                    </div>
                                                                                    <span id="info-comment-${comentario.Id}" style="font-size: small; border-radius: 1rem; background: #1c1c39; color: #fff; height: fit-content; padding: 0.3rem;">
                                                                                        ${comentario.QuantidadeLikes} curtidas e ${comentario.QuantidadeComentarios} comentários
                                                                                    </span>
                                                                                </div>
                                                                                 ${comentario.QuantidadeComentarios === 0 ? '' : `<button type="button" style="display:block;text-align:center;padding:0.5rem;" onclick="carregarRespostas(${comentario.Id})">Carregar respostas</button>`}
                                                                            </div>
                                                                            <div id="${comentario.Id}-respostas" style="margin: 2rem 0; padding: 2rem 0 0 0"></div>
                                                                        `;
                    respostasDiv.append(commentHtml);
                });
            }
        });
    }
</script>