﻿@{
    ViewData["Title"] = "Feed";
}
<head>
    <style>
        .feed {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .story-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;
            background: #3333338c;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .story {
            width: 50%;
            gap: 1rem;
            display: flex;
            padding: 1rem;
            background: #fff;
            flex-direction: column;
            height: fit-content;
        }

        .story-header {
            display: flex;
            justify-content: space-between;
        }

        .story-comment-like {
            display: flex;
            gap: 1rem;
        }

        .story-comment {
            background: #1c1c39;
            color: white;
            padding: 0.5rem;
            border-radius: 1rem;
            margin-top: auto;
            width: 100%;
        }

        .story-before {
            width: 50%;
        }

        .story-after {
            width: 50%;
            transform: scaleX(-1);
        }

        .anuncio {
            border: 2px solid #888;
            border-radius: 0.5rem;
            padding: 0.25rem 0.5rem;
            text-align: center;
            width: fit-content;
        }
    </style>
</head>

<div class="feed main">
    @if (ViewBag.Publicacoes != null)
    {
        var publicacoes = (List<RedeSocial.Models.PublicacaoModel>)ViewBag.Publicacoes;
        var anuncios = (List<RedeSocial.Models.AnuncioModel>)ViewBag.Anuncios;
        int anuncioIndex = 0;

        for (int i = 0; i < publicacoes.Count; i++)
        {
            if ((i + 1) % 4 == 0 && anuncioIndex < anuncios.Count)
            {
                var anuncio = anuncios[anuncioIndex];
                anuncioIndex++;

                <!-- POST ANÚNCIO -->
                <div class="post">
                    <p class="anuncio">Anúncio</p>
                    <a class="post-conteudo" href="@anuncio.Link">
                        @if (!string.IsNullOrEmpty(anuncio.UrlImagem))
                        {
                            <img src="@anuncio.UrlImagem" alt="" />
                        }
                        <p class="post-description">
                            @anuncio.Texto
                        </p>
                    </a>

                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div style="display: flex; gap: 3px">
                            <button type="button" id="post-button-curtir-@anuncio.Id"
                                    class="post-button @(anuncio.UsuarioLogadoCurtiuAnuncio ? "post-button-active" : "")"
                                    onclick="toggleCurtirAnuncio('@anuncio.Id')">
                                <img src="~/img/foguete.png" alt="" />
                            </button>
                        </div>
                        <span id="anuncio-curtidas-comentarios-@anuncio.Id" style="font-size: small;border-radius: 1rem;background: #1c1c39;color: #fff;padding: 0.3rem;align-self: end;">
                            @anuncio.QuantidadeLikes curtidas
                        </span>
                    </div>
                </div>
            }

            <!-- POST PUBLICAÇÃO -->
            var publicacao = publicacoes[i];

            <div class="post">
                <a href="/perfil/@publicacao.Usuario" class="avatar">
                    @if (!string.IsNullOrEmpty(@publicacao.FotoUsuario))
                    {
                        <img src="data:image/jpeg;base64,@publicacao.FotoUsuario" alt="" />
                    }
                    else
                    {
                        <img src="~/img/avatar.png" alt="" />
                    }
                    <p>@publicacao.NomeUsuario</p>
                </a>

                <p>@publicacao.NomeUsuario</p>

                <a class="post-conteudo" href="/post/@publicacao.Id">
                    @if (publicacao.Midias.Count > 0)
                    {
                        <img src="data:@publicacao.Midias[0].ContentType;base64,@publicacao.Midias[0].FileContents" alt="" />
                    }
                    <p class="post-description">@publicacao.Descricao</p>
                </a>

                <div style="display: flex;justify-content: space-between;align-items: center;">
                    <div style="display: flex; gap: 3px">
                        <button type="button" id="post-button-curtir-@publicacao.Id"
                                class="post-button @(publicacao.UsuarioLogadoCurtiuPost ? "post-button-active" : "")"
                                onclick="toggleCurtirPost('@publicacao.Id', @publicacao.QuantidadeComentarios)">
                            <img src="~/img/foguete.png" alt="" />
                        </button>
                        <a class="post-button" href="/post/@publicacao.Id">
                            <img src="~/img/comentário.png" alt="" />
                        </a>
                    </div>
                    <span id="post-curtidas-comentarios-@publicacao.Id" class="post-info">
                        @publicacao.QuantidadeLikes curtidas e @publicacao.QuantidadeComentarios comentários
                    </span>
                </div>
            </div>
        }
    }
</div>

<!-- STORY
<div class="story-wrapper">
    <div>
        <a href="">
            <img class="story-before" src="~/img/arrow.png" alt="" />
        </a>
    </div>
    <div class="story">
        <div class="story-header">
            <a href="/perfil" class="avatar">
                <img src="~/img/avatar.png" alt="" />
                <p>Nome</p>
            </a>
            <button class="story-header-close">X</button>
        </div>
        <img class="story-img"  src="~/img/gato.jpg" alt="" />
        <div class="story-comment-like">
            <input class="story-comment" type="text" name="conteudo" />
            <button type="button" class="post-button" onclick="toggleCurtirPost(1)">
                <img class="story-like" src="~/img/foguete.png" alt="" />
            </button>
        </div>
    </div>

    <div>
        <a href="">
            <img class="story-after"  src="~/img/arrow.png" alt="" />
        </a>
    </div>
</div>
-->

<script>
    //Story:
    //Ajustar story:

    document.getElementById('addButton').addEventListener('click', function () {
        document.getElementById('fileInput').click();
    });

    document.getElementById('fileInput').addEventListener('change', function (event) {
        const files = event.target.files;
        if (files.length > 0) {
            console.log('Selected file:', files[0].name);
            $.ajax({
                type: "POST",
                url: "/Feed/AddStory",
                data: { id: postId },
                success: function (response) {
                    console.log("adiciona story")
                    adicionaStory = false;
                }
            });
        }
    });

    //Post:

    function toggleCurtirPost(postId, quantidadeComentarios) {
        var button = $("#post-button-curtir-" + postId);
        if (button.hasClass("post-button-active")) {
            descurtirPost(postId, quantidadeComentarios);
        } else {
            curtirPost(postId, quantidadeComentarios);
        }
    }

    function getTextoCurtidaComentarios(quantidadeLikes, quantidadeComentarios) {
        var flexCurtidas = quantidadeLikes < 2 ? 'curtida' : 'curtidas';
        var flexComentarios = quantidadeComentarios < 2 ? 'comentário' : 'comentários';
        return quantidadeLikes + ' ' + flexCurtidas + ' e ' + quantidadeComentarios + ' ' + flexComentarios;
    }

    function removeCurtidas(id, type, quantidadeComentarios, quantidadeLikes) {
        var idText = `#${type}-curtidas-comentarios-${id}`
        var idButton = `#${type}-button-curtir-${id}`
        console.log(idText)
        console.log(idButton)
        $(idText).text(getTextoCurtidaComentarios(quantidadeLikes, quantidadeComentarios));
        $(idButton).removeClass("post-button-active");
    }

    function curtirPost(postId, quantidadeComentarios) {
        $.ajax({
            type: "POST",
            url: "/Feed/CurtirPost",
            data: { postId: postId },
            success: function (response) {
                atualizaCurtidas(postId, "post", quantidadeComentarios, response.quantidadeLikes)
            }
        });
    }

    function descurtirPost(postId, quantidadeComentarios) {
        $.ajax({
            type: "DELETE",
            url: "/Feed/DescurtirPost",
            data: { postId: postId },
            success: function (response) {
                removeCurtidas(postId, "post", quantidadeComentarios, response.quantidadeLikes)
            }
        });
    }

    //Anúncio:
    //TODO: Refatorar anúncios, para reutilizar funções do post.

    function toggleCurtirAnuncio(postId) {
        var button = $("#post-button-curtir-" + postId);
        if (button.hasClass("post-button-active")) {
            descurtirAnuncio(postId);
        } else {
            curtirAnuncio(postId);
        }
    }

    function getTextoCurtidaComentariosAnuncio(quantidadeLikes) {
        var flexCurtidas = quantidadeLikes < 2 ? 'curtida' : 'curtidas';
        return quantidadeLikes + ' ' + flexCurtidas;
    }

    function atualizaCurtidas(id, type, quantidadeComentarios, quantidadeLikes) {
        var idText = `#${type}-curtidas-comentarios-${id}`
        var idButton = `#${type}-button-curtir-${id}`
        console.log(idText)
        console.log(idButton)
        $(idText).text(getTextoCurtidaComentarios(quantidadeLikes, quantidadeComentarios));
        $(idButton).addClass("post-button-active");
    }

    function removeCurtidasAnuncio(id, type, quantidadeLikes) {
        var idText = `#${type}-curtidas-comentarios-${id}`
        var idButton = `#${type}-button-curtir-${id}`
        console.log(idText)
        console.log(idButton)
        $(idText).text(getTextoCurtidaComentariosAnuncio(quantidadeLikes));
        $(idButton).removeClass("post-button-active");
    }

    function atualizaCurtidasAnuncio(id, type, quantidadeLikes) {
        var idText = `#${type}-curtidas-comentarios-${id}`
        var idButton = `#${type}-button-curtir-${id}`
        console.log(idText)
        console.log(idButton)
        $(idText).text(getTextoCurtidaComentariosAnuncio(quantidadeLikes));
        $(idButton).addClass("post-button-active");
    }

    function curtirAnuncio(anuncioId) {
        $.ajax({
            type: "POST",
            url: "/Feed/CurtirPost",
            data: { anuncioId: anuncioId },
            success: function (response) {
                atualizaCurtidasAnuncio(anuncioId, "anuncio", response.quantidadeLikes)
            }
        });
    }

    function descurtirAnuncio(anuncioId) {
        $.ajax({
            type: "DELETE",
            url: "/Feed/DescurtirPost",
            data: { anuncioId: anuncioId },
            success: function (response) {
                removeCurtidasAnuncio(anuncioId, "anuncio", response.quantidadeLikes)
            }
        });
    }
</script>
